AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true
AUTH_SECRET=<generar-secreto-seguro-con-openssl-rand-base64-32>

KEYCLOAK_CLIENT_ID=sder-idr
KEYCLOAK_CLIENT_SECRET=<tu-keycloak-client-secret-aqui>
KEYCLOAK_ISSUER_URL=https://sso-desa.hcdn.gob.ar/realms/hcdn