.git
.gitignore

node_modules
**/node_modules

.next
**/.next

dist
**/dist

coverage
**/coverage

*.log

.env
**/.env

.vscode
.idea

frontend/test-results
frontend/playwright-report
frontend/screenshots