NODE_ENV=development
PORT=3002

# Para múltiples orígenes separados por coma
# Desarrollo/Producción: https://sder-idr-desa.hcdn.gob.ar
# Local: http://localhost:3000
CORS_ORIGIN=http://localhost:3000

# DATABASE_URL=
DATABASE_URL=postgresql://<usuario>:<password>@postgres:5432/idr?schema=idr

# AUTH_ISSUER_URL=
# AUTH_AUDIENCE=
